:root{ 
  --back: #243F47;
  --text:  #75C296;
  --p: #e0eae4;
}
body {
  background-color: var(--back);
  color: var(--p)
}
h1, h2, p {
  color: var(--text)
}
.card-column {
  flex: 1 0 100%;
  padding: 1.5rem;
  transition: flex-basis 500ms linear;
  margin-bottom: 1.5rem;
}
.code-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100%;
  padding: 2rem;
}